.message{
    width: 50%;
    margin-top: 20px;
}

.messageBox:hover{
    background-color: #555555;
}

.messageBox{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "body body body body body body body body date check";
    border: 1px solid black;
    border-radius: 10px;
    background-color: #333333;
    color: white;
}

.my{
    align-self: flex-end;
}


.body {
    grid-area: body;
    align-self: start;
    justify-self: start;
    margin: 6px
}

.data {
    grid-area: body;
    align-self: end;
    justify-self: end;
    margin: 6px
}

.check{
    grid-area: check;
    align-self: end;
    justify-self: end;
}

.icon{
    width: 10px;
    height: 10px;
    margin: 5px
}

.deleting{
    background-color: #282c34;
}

.deleting:hover {
    background-color: #555555;
}

.deleting:active{
    background-color: darkslategrey;
}



