
.messagesBlock{
    height: 100vh;
    overflow: scroll;
    overflow-x:hidden;
}
.choiseChat{
    text-align: center;

}
.form{
    position: absolute;
    bottom: 0;
    width:  calc(100vw - 478px);
    
} 
.form input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    border:none;
    border-top: solid 1px grey;
    padding: 11px 32px 10px 8px;
    color: #32465a;
    width: calc(100% - 90px);
    height: 17px;
}
.form button{
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}
.interlocuterMessage{
    display: flex;
    justify-content: flex-start;
    width: 60%;
}
.myMessage{
    display: flex;
    justify-content: flex-end;



}
.message{
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 60%;
    display: flex;
    
}
.body{
    background: #EBEBEB;
    padding: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius:10px;

}
.fullMessage{
    width: auto;
    padding: 10px;
}
.messages{
    margin-bottom: 45px;
}
.message img{
    width: 40px;
    margin-top:10px;
    border-radius: 20px;
}
.myMessage .body{
    background: #05728F;
    color: white;
}
.date{
    color: #747474;
    display: block;
    font-size: 12px;
    margin-left: 10px;
}
.pen{
    width: 15px;
    margin-left: 30px;
}
.pen4ik{
    margin-bottom: 5px;
}