.wrapper{
    display: flex;
    justify-content: space-between;
}

.dialogs{
    width: 30vw;
    height: 90vh;
}

.messages{
    display: flex;
    width: 70vw;
    height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('https://i.pinimg.com/originals/b4/bf/af/b4bfafa2dccc4cf3fe24f774b3f13b12.jpg');
}

.dialog{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid white;
    background-color: #282c34;
    color: white;
}

.dialog:hover{
    background-color: #eeeeee;
}

.dialogInfo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.photo{
    width: 50px;
    height: 50px;
}

.form{
    display: flex;
    justify-content: space-between;
}

.text{
    width: 90%;
    height: 10vh
}

.sendButton{
    width: 10vh;
    height: 10vh;
    margin: 0;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 50px;
    transition: 0.2s;
}

.sendButton:hover{
    opacity: 0.7;
}

.sendButton:active{
    background-color: #09d3ac;
}

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100%;
}

.send{
    width: 30px;
    height: 30px;
}