.wrapper{
    display: flex;
    justify-content: center;
}

.dialogs{
    margin-right: 4px;
    width: 400px;
    height: 100vh;
    border: 3px solid black
}

.messages{
    display: flex;
    width: 800px;
    height: 90vh;
    flex-direction: column;
    justify-content: flex-start;
}

.dialog{
    display: flex;
    justify-content: space-between;
}

.dialog:hover{
    background-color: #eeeeee;
}

.dialogInfo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.photo{
    width: 50px;
    height: 50px;
}

.form{
    display: flex;
    justify-content: space-between;
}

.text{
    width: 90%;
    height: 10vh
}

.sendButton{
    width: 10%;
    height: 10vh;
}

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
}