.dialog{
    border: solid 0.5px grey;
    background: #EBEBEB;
    display: flex;
    padding: 15px;
}
.photo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.dateAndName{

    display: flex;
    justify-content: space-between;
}
.dialogInfo{
    margin-left: 15px;
    width: 100%;
}
.allDialogs{
    height: 100vh;
    overflow: scroll;
}
.nikName{
    font-weight: 500;
    font-size: 19px;
    color:#464646;
}
.lastMessage{
    margin-right: 10px;
    margin-top: 10px;
}